body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('img/img5.jpg');
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
  margin-right: 5px;
}

li {
    display: inline-block;
    margin-left: 10px;
}

li a {
  color: rgba(255, 255, 255);
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  font-size: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu1 {
    background-color: rgba(0, 0, 0, 0.509);
}

li a:hover {
  color: rgb(255, 94, 0);
}

.login {
    border: 1px solid rgb(62, 187, 0);
    background-color: rgb(62, 187, 0);
    border-radius: 10px;
    padding: 0px;
}

.login:hover {
    border: 1px solid rgb(80, 239, 0);
    background-color: rgb(80, 239, 0);
    border-radius: 10px;
    padding: 0px;
}

.logina {
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

.logina:hover {
    color: white;
}

.social-icons {
  background-color: rgb(39, 39, 39);
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: right;
}

.social-icons a {
  margin-right: 10px;
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-decoration: none;
}

.tripk {
    color: rgb(255, 255, 255);
    float: left;
    padding-top: 1px;
    text-align: left;
}

.banner-container {
    height: 70vh;
    background-image: url('img/destin.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 55px;
    padding-top: 90px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
ul.gallery {
            background-color: rgba(98, 255, 0, 0.148);
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            margin: 0;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        ul.gallery li {
            margin: 10px;
            margin-left: 11px;
        }

        .gallery-item {
            position: relative;
        }

        .gallery-text {
            position: absolute;
            margin-bottom: 3px;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            padding: 5px;
            text-align: center;
        }

        .gallery-text:hover {
            position: absolute;
            margin-bottom: 3px;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.559);
            padding-top: 263px;
            text-align: center;
            cursor: pointer;
            transition: all 0.5s ease;
        }

        .destinimg {
            width: 400px;
            height: 300px;
        }

        .destinationhead {
            font-size: 35px;
            color: rgb(0, 53, 12);
            padding-top: 20px;
            padding-bottom: 11px;
            margin: 0;
            text-align: center;
            background-color: rgba(98, 255, 0, 0.148);
            text-shadow: 2px 2px 4px rgb(255, 255, 255);
        }
        .desina:hover {
            font-size: 25px;
            padding: 2px;
            color: rgb(255, 123, 47);
        }

        .desina {
            font-size: 25px;
            padding: 2px;
        }

        .desinact {
            margin-top: 75px;
            margin-bottom: 1px;
            margin-left: 270px;
            margin-right: 50px;
            text-align: center;
            font-size: 35px;
        }

        .desinact:hover {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            color: white;
        }

        
        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

        .rightstext {
            background-color: rgba(103, 0, 0, 0.591);
            padding: 5px;
            color: white;
            margin: 0;
            margin-bottom: 0px;
            text-align: center;
        }

        .rightstext2 {
            background-color: rgba(0, 0, 0, 0.591);
            padding: 5px;
            color: white;
            font-size: 13px;
            margin-top: 0px;
            margin-bottom: 0px;
            text-align: center;
        }
        .plan {
            color: white; text-align: center;
        }